.contactPage{

padding-top:150px;

min-height:100vh;

color:white;

text-align:center;

padding-left:50px;
padding-right:50px;

}

.contactPage h1{

font-size:60px;

margin-bottom:20px;

}

.contactPage p{

opacity:.7;

margin-bottom:50px;

}

.contactContainer{

display:flex;

justify-content:center;

gap:50px;

flex-wrap:wrap;

}

.contactInfo,
.contactForm{

width:500px;

padding:40px;

border-radius:25px;

background:
rgba(
255,
255,
255,
0.05
);

backdrop-filter:
blur(20px);

border:
1px solid
rgba(
255,
255,
255,
0.1
);

box-shadow:
0 0 30px
rgba(
99,
102,
241,
0.3
);

}

.infoCard{

display:flex;

align-items:center;

gap:20px;

padding:20px;

margin-top:20px;

border-radius:15px;

transition:.4s;

}

.infoCard:hover{

background:
rgba(
255,
255,
255,
0.08
);

transform:
translateY(-5px);

}

.contactForm{

display:flex;

flex-direction:column;

gap:20px;

}

.contactForm input,
.contactForm textarea{

padding:15px;

border:none;

border-radius:15px;

background:
rgba(
255,
255,
255,
0.08
);

color:white;

outline:none;

}

.contactForm button{

padding:15px;

border:none;

border-radius:30px;

cursor:pointer;

color:white;

font-size:18px;

background:

linear-gradient(
45deg,
#6366F1,
#8B5CF6
);

transition:.4s;

}

.contactForm button:hover{

transform:scale(1.05);

box-shadow:
0 0 30px
#8B5CF6;

}