.statsContainer{

display:flex;

justify-content:center;

gap:50px;

padding:100px;

}

.statCard{

width:250px;

height:180px;

border-radius:25px;

background:

rgba(
255,
255,
255,
0.05
);

backdrop-filter:blur(20px);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

transition:.5s;

border:

1px solid
rgba(
255,
255,
255,
0.1
);

}

.statCard:hover{

transform:

translateY(-15px);

box-shadow:

0 0 40px
#8B5CF6;

}

.statCard h1{

font-size:50px;

color:#06B6D4;

}