.uploadContainer{

display:flex;
justify-content:center;
gap:50px;

padding:100px;

}

.card{

width:350px;
height:250px;

border-radius:25px;

background:

rgba(
255,
255,
255,
0.05
);

backdrop-filter:blur(20px);

display:flex;
justify-content:center;
align-items:center;

text-align:center;

color:white;

cursor:pointer;

transition:.5s;

border:

1px solid
rgba(
255,
255,
255,
0.1
);

box-shadow:

0 0 30px
rgba(
99,
102,
241,
0.3
);

}

.card:hover{

box-shadow:

0 0 50px
#8B5CF6;

}

.card svg{

margin-bottom:15px;

color:#06B6D4;

}
.generateBtn{

padding:18px 40px;

font-size:18px;

border:none;

border-radius:40px;

cursor:pointer;

background:

linear-gradient(
45deg,
#6366F1,
#8B5CF6
);

color:white;

transition:.5s;

}

.generateBtn:hover{

transform:
scale(1.05);

box-shadow:

0 0 30px
#8B5CF6;

}